<div class="col-md-6 user-container">
    <h2 style="margin: auto"> User Details</h2>

    <br/>
    <br/>
    <button class="btn btn-danger" [routerLink]="['/addUser']" (click)="AddDetails()"> {{add}}</button>
    <br/>
    <br/>
    <button class="btn btn-danger" [routerLink]="['/addModelUser']">Model Add</button>
    <br/>
    <br/>
     
    <br/>
    <br/>
    <table class="table table-striped">
      <thead>
      <tr>
  
        <th class="hidden">Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>UserName</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
  
      <tbody>
      <tr *ngFor="let user of users; let i=index">
        <td class="hidden">{{i + 1}}</td>
        <td>{{user.firstName | lowercase}}</td>
        <td>{{user.lastName | uppercase }}</td>
        <td>{{user.username}}</td>
        <td>{{user.age}}</td>
        <td>{{user.salary | currency:'USD' }}</td>
        <td><button class="btn btn-success" > Delete</button></td>
         <td> <button class="btn btn-success"  style="margin-left: 20px;"> Edit</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  
